{% extends 'app/base.html' %}
{% load static %}


{% block contenido %}  
<div class="container my-5">
  <h1 class="text-center mb-4">Autenticación</h1>
  <hr/>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="card text-bg-secondary custom-card col-6">
        <div class="card-body text-center">
          <h2>Iniciar Sesión</h2>
          <hr />
          <form>
            <div class="form-floating mb-3 ">
              <input type="email" class="form-control" id="emailUsuarioLogin" placeholder="Ejemplo: usuario@example.com">
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating black-text">
              <input type="password" class="form-control" id="PasswordLogin" placeholder="Ejemplo: tu_contraseña">
              <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <hr />
              <button type="button" class="btn btn-primary btn-lg">Ingresar</button>
              <hr />
            </div>
          </form>
          <p class="mt-3">
            <a href="{% url 'recuperar_password' %}" class="text-white text-dark-hover">¿Olvidaste tu Contraseña?</a>
          </p>
        </div>
      </div>
    </div>
</div>
{% endblock %}
