{% extends 'app/base.html' %}
{% load static %}


{% block contenido %}  
<div class="container my-5">
  <h1 class="text-center">Crear Usuario</h1>
    <hr/>
      <div class="container d-flex justify-content-center align-items-center ">
        <div class="card text-bg-secondary custom-card col-12">
          <div class="text-center">
      <form class="form">
      <div class="text-bg-secondary p-3">
          <div class="row">
              <!-- columna izquierda -->
              <div class="col-md-6 mt-4">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nombre</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Apellido paterno</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Apellido materno</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Rut</label>
                  <input
                    type="number"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Fecha de nacimiento</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                
                <div class="mb-3">
                  <label for="rolUsuario" class="form-label">Rol de usuario</label>
                  <select class="form-select" id="rolUsuario" required>
                    <option value="...">Selecciona</option>
                    <option value="1">Usuario</option>
                    <option value="2">Administrador</option>
                    <option value="3">Técnico en farmacia</option>
                    <option value="Cliente">Cliente</option>
                    <!-- Agrega más opciones según sea necesario -->
                  </select>
                </div>
                
              </div>
              <!-- columna derecha -->
              <div class="col-md-6 mt-4">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Contraseña</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Repetir Contraseña</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Correo electronico</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Teléfono</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>

                
                <div class="mb-3">
                  <label for="rutPacienteDespacho" class="form-label"
                    >Centro de Salud</label
                  >
                  <select class="form-select" id="nombreMedicamento">
                    <option value="...">-Elegir-</option>
                    <option value="1">CESFAM Cordillera</option>
                    <option value="2">CESFAM Juan Pablo II</option>
                    <!-- Agrega más opciones según sea necesario -->
                  </select>
                </div>
              </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-success btn-lg mb-4">Crear cuenta</button>
          </form>
    </div>
{% endblock %}
