{% extends 'app/base.html' %} 

{% load static %} 

{% block contenido %}
<!-- INICIO FORMULARIO -->
<div class="container my-5">
  <h1 class="card-header text-center">Despacho de Fármacos</h1>
        <hr />
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card text-bg-secondary custom-card col-12 p-4 m-2">
      <div class="text-center">
        <div class="row">
          <div class="col-md-12">
            <h4>Datos del Paciente</h4>
            <div class="mb-3">
              <label for="rutPacienteDespacho" class="form-label"
                >Rut del Paciente</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="txtrutPacienteDespacho"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="btnBuscarRutPaciente"
                >
                  Buscar
                </button>
              </div>
            </div>
            <hr />
          </div>
          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Nombre Paciente</label>
            <input type="text" class="form-control" id="txtNombrePaciente" />
          </div>
          <div class="col-md-6">
            <label for="inputAddress" class="form-label"
              >Información Receta</label
            >
            <input type="text" class="form-control" id="inputAddress" />
          </div>
          <div class="col-md-6">
            <label for="rutPacienteDespacho" class="form-label"
              >Duración Receta</label
            >
            <select class="form-select" id="duracionRecetaDespacho">
              <option value="...">Selecciona</option>
              <option value="1">1 Mes</option>
              <option value="3">3 Meses</option>
              <option value="6">6 Meses</option>
              <!-- Agrega más opciones según sea necesario -->
            </select>
          </div>
          <div class="col-md-6">
            <label for="fechaRecetaDespacho" class="form-label">Desde</label>
            <input
              type="date"
              class="form-control"
              id="fechaInicioReceta"
              name="FechaInicioReceta"
            />
          </div>
          <div class="col-md-6">
            <label for="rutPacienteDespacho" class="form-label"
              >Categoría Medicamento</label
            >
            <select class="form-select" id="categoriaMedicamentoDespacho">
              <option value="...">Selecciona</option>
              <option value="1">Categoría 1</option>
              <option value="2">Categoría 2</option>
              <option value="3">Categoría 3</option>
              <!-- Agrega más opciones según sea necesario -->
            </select>
          </div>
          <div class="col-md-6">
            <label for="rutPacienteDespacho" class="form-label"
              >Medicamento</label
            >
            <select class="form-select" id="nombreMedicamentoDespacho">
              <option value="...">Selecciona</option>
              <option value="1">Medicamento 1</option>
              <option value="2">Medicamento 2</option>
              <option value="3">Medicamento 3</option>
              <!-- Agrega más opciones según sea necesario -->
            </select>
          </div>
          <div class="col-md-6">
            <label for="dosisDiariaDespacho" class="form-label"
              >Dosis diaria</label
            >
            <select class="form-select" id="dosisDiariaDespacho">
              <option value="...">Selecciona</option>
              <option value="1">1 cada 6 horas</option>
              <option value="2">1 cada 8 horas</option>
              <option value="3">1 cada 12 horas</option>
              <!-- Agrega más opciones según sea necesario -->
            </select>
          </div>
          <div class="col-md-6">
            <label for="cantidadMesesDespacho" class="form-label"
              >Cantidad de Meses</label
            >
            <select class="form-select" id="cantidadMesesDespacho">
              <option value="...">Selecciona</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <!-- Agrega más opciones según sea necesario -->
            </select>
          </div>
          <div class="col-md-12">
            <label for="cantidadComprimidos" class="form-label"
              >Cantidad de Comprimidos</label
            >
            <select class="form-select" id="cantidadComprimidos">
              <option value="...">Selecciona</option>
              <option value="20">20 unidades</option>
              <option value="40">40 unidades</option>
              <option value="60">60 unidades</option>
              <option value="80">80 unidades</option>
              <!-- Agrega más opciones según sea necesario -->
            </select>
            <hr />
          </div>
          <div class="col-md-12 d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
          </div>
          <div class="col-md-12">
            <hr />
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
