{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
    <div class="container my-5">
        <h1 class="text-center">Modificar Información de Medicamento</h1>
        <hr/>
        <div class="container d-flex justify-content-center align-items-center ">
          <div class="card text-bg-secondary custom-card col-12">
            <div class="card-body text-center">
        <div class="d-flex justify-content-between align-items-center">
            <form class="d-flex w-100 mb-4" role="search">
                <input class="form-control w-100 me-2" type="search" placeholder="Buscar Medicamento" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            
        </div>
    
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center table-primary" scope="col">Medicamento</th>
                    <th class="text-center table-primary" scope="col">Cantidad</th>
                    <th class="text-center table-primary" scope="col">Categoría</th>
                    <th class="text-center table-primary" scope="col">Disponible</th>
                </tr>
            </thead>
    
            <tbody>
                    <td>Paracetamol</td>
                    <td>12</td>
                    <td>Analgesico</td>
                    <td><input type="checkbox" checked></td>
            </tbody>

           <tbody>
                    <td>Loratadina</td>
                    <td>15</td>
                    <td>Antialergico</td>
                    <td><input type="checkbox" checked></td>
            </tbody>   

        </table>
        <button type="button" class="btn btn-danger btn-lg  mb-2 mt-2 float-right">Eliminar Medicamento</button>
        <button type="button" class="btn btn-primary btn-lg mb-2 mt-2 float-right">Modificar Medicamento</button>
        <button type="button" class="btn btn-success btn-lg mb-2 mt-2 float-right">Agregar Medicamento</button>
      </div>
    </div>
  </div>
{% endblock %}
