{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<div class="container my-5">
  <h1 class="text-center">Modificar Medicamento</h1>
    <hr/>
      <div class="container d-flex justify-content-center align-items-center ">
        <div class="card text-bg-secondary custom-card col-12">
          <div class="text-center">
      <form class="form">
      <div class="text-bg-secondary p-3">
          <div class="row">
          <!-- columna izquierda -->
          
          <div class="col-md-6">
              <div class="mb-3">
                <label for="NombreModificarMedicamento" class="form-label">Nombre del Medicamento</label>
                <select class="form-select" id="NombreModificarMedicamento" required>
                  <option value="...">Selecciona</option>
                  <option value="1">Nombre 1</option>
                  <option value="2">Nombre 2</option>
                  <option value="3">Nombre 3</option>
                  <!-- Agrega más opciones según sea necesario -->
                </select>
              </div>
              <div class="mb-3">
                <label for="MedicionModificarMedicamento" class="form-label">Medición:</label>
                <select class="form-select" id="MedicionModificarMedicamento" required>
                  <option value="...">Selecciona</option>
                  <option value="1">Mg</option>
                  <option value="2">Ml</option>
                  <option value="3">Kg</option>
                  <!-- Agrega más opciones según sea necesario -->
                </select>
              </div>
              <div class="mb-3">
              <label for="expired_date" class="form-label" required>Fecha de Vencimiento: </label>
              <input
                  type="date"
                  class="form-control"
                  id="expired_date"
                  aria-describedby="expired_date"
                  required/>
              </div>
              <div class="mb-3">
              <label for="lote" class="form-label" required>N° de Lote: </label>
              <input
                  type="text"
                  class="form-control"
                  id="lote"
                  aria-describedby="lote"
                  required/>
              </div>
              <div class="mb-3">
                <label for="categoriaModificarMedicamento" class="form-label">Categoría</label>
                <select class="form-select" id="categoriaMedicamentoReporte" required>
                  <option value="...">Selecciona</option>
                  <option value="1">Antialergico</option>
                  <option value="2">Antibiotico</option>
                  <option value="3">Antinflamatorio</option>
                  <!-- Agrega más opciones según sea necesario -->
                </select>
              </div>
        </div>
          <!-- columna derecha -->
          <div class="col-md-6">
              <div class="mb-3">
              <label for="nombre_med" class="form-label">Dosis del Medicamento: </label>
              <input
                  type="text"
                  class="form-control"
                  id="nombre_med"
                  aria-describedby="nombre_med"
                  required/>
              </div>
              <div class="mb-3">
                <label for="tipo_med" class="form-label">Tipo: </label>
                <select class="form-select" id="tipo_med" required>
                  <option value="...">Selecciona</option>
                  <option value="1">Antialergico</option>
                  <option value="2">Antibiotico</option>
                  <option value="3">Antinflamatorio</option>
                  <!-- Agrega más opciones según sea necesario -->
                </select>
              </div>          
              <div class="mb-3">
              <label for="cantidad_med" class="form-label">Cantidad: </label>
              <input
                  type="text"
                  class="form-control"
                  id="cantidad_med"
                  aria-describedby="emailHelp"
                  required />
              </div>
              <div class="mb-3">
              <label for="laboratorio" class="form-label">Laboratorio: </label>
              <input
                  type="text"
                  class="form-control"
                  id="laboratorio"
                  aria-describedby="laboratorio"
                  required/>
              </div>
              <div class="mb-3">
                <label for="lugar" class="form-label">Lugar de Almacenamiento: </label>
                <select class="form-select" id="lugar" required>
                  <option value="...">Selecciona</option>
                  <option value="1">Bodega</option>
                  <option value="2">Vitrina</option>
                  <!-- Agrega más opciones según sea necesario -->
                </select>
              </div> 
          </div>
          </div>
          <hr>
          <div class="d-flex justify-content-center gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-danger btn-lg">Cancelar</button>
          <button type="submit" class="btn btn-success btn-lg">Modificar</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}