{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contraseña</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <!--<link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">-->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MSF</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quiénes Somos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <div class="card text-bg-secondary custom-card col-6">
        <div class="card-body">
          <h2 class="text-center">Recuperar Contraseña</h2>
          <hr />
          <form>
            <div class="mb-3">
              <label for="email" class="form-label text-start">Email:</label>
              <input
                type="email"
                id="emailRecuperarPass"
                name="email"
                class="form-control"
                required
              />
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="button" class="btn btn-success btn-lg">
                Ingresar
              </button>
              <hr/>
            </div>
          </form>
          <p class="text-center">
            <a href="#" class="text-white">Ir al Home</a>
          </p>
        </div>
      </div>
    </div>

    <!-- JS de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
