{% extends 'app/base.html' %} 

{% load static %} 

{% block contenido %}
<div class="container my-5">
  <h1 class="card-header text-center">Reportes</h1>
        <hr />
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card text-bg-secondary custom-card col-12">
      <div class="text-center">
        <div class="text-bg-secondary p-3">
          <div class="row">
            <div class="col-md-12">
              <h4 class="col-md-12 d-flex justify-content-center mt-4">
                Selecciona la información necesaria
              </h4>
              <div class="mb-3">
                <label for="rutPacienteDespacho" class="form-label"
                  >Rut del Paciente</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="txtrutPacienteDespacho"
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    id="btnBuscarRutPaciente"
                  >
                    Buscar
                  </button>
                </div>
              </div>
              <hr />
            </div>
            <div class="col-md-4">
              <label for="fechaInicioReporte" class="form-label">Desde</label>
              <input
                type="date"
                class="form-control"
                id="fechaInicioReporte"
                name="FechaInicioReporte"
              />
            </div>
            <div class="col-md-4">
              <label for="fechaFinReporte" class="form-label">Hasta</label>
              <input
                type="date"
                class="form-control"
                id="fechaFinReporte"
                name="FechaFinReporte"
              />
            </div>
            <div class="col-md-4 mt-4 d-flex text-center">
              <button
                type="submit"
                class="btn btn-primary btn-lg"
                id="btnGuardarFechaReporte"
              >
                Guardar
              </button>
            </div>
            <div class="col-md-6">
              <label for="categoriaMedicamentoReporte" class="form-label"
                >Categoría</label
              >
              <select class="form-select" id="categoriaMedicamentoReporte">
                <option value="...">Selecciona</option>
                <option value="1">Categoría 1</option>
                <option value="2">Categoría 2</option>
                <option value="3">Categoría 3</option>
                <!-- Agrega más opciones según sea necesario -->
              </select>
            </div>
            <div class="col-md-6">
              <label for="nombreMedicamentoReporte" class="form-label"
                >Medicamento</label
              >
              <select class="form-select" id="nombreMedicamentoReporte">
                <option value="...">Selecciona</option>
                <option value="1">Medicamento 1</option>
                <option value="2">Medicamento 2</option>
                <option value="3">Medicamento 3</option>
                <!-- Agrega más opciones según sea necesario -->
              </select>
            </div>
            <div class="col-md-4 w-50">
              <label for="fechaReceta" class="form-label">Grupo Etario</label>
              <select class="form-select" id="dosisDiaria">
                <option value="...">Selecciona</option>
                <option value="1">1 cada 6 horas</option>
                <option value="2">1 cada 8 horas</option>
                <option value="3">1 cada 12 horas</option>
                <!-- Agrega más opciones según sea necesario -->
              </select>
            </div>
            <div class="col-md-4 mt-4 d-flex">
              <button type="submit" class="btn btn-primary btn-lg">
                Guardar
              </button>
            </div>
            <div class="col-md-12">
              <hr />
            </div>
            <div class="col-md-12 gap-2 d-flex justify-content-center mt-4">
              <button type="submit" class="btn btn-success btn-lg">
                Crear PDF
              </button>
              <button type="submit" class="btn btn-primary mr-4 btn-lg">
                Visualizar Info
              </button>
            </div>
            <div class="col-md-12">
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
